html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header {
    margin-top: 60px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
header h1 {
    font-size: 40px;
}
header h3 {
    font-size: 15px;
}

.post-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-bottom: 1px solid #ccc;
}
.post-section h3 {
    margin-bottom: 50px;
}
.post-section .creation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #eee;
    border-radius: 5px;
}
.post-section .creation-container form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.post-section .creation-container form .sender-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post-section .creation-container form .sender-info .inputGroup {
    margin: 1em 0 1em 0;
    max-width: 100%;
    position: relative;
}
.post-section .creation-container form .sender-info .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
}  
.post-section .creation-container form .sender-info .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}  
.post-section .creation-container form .sender-info .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #eee;
}  
.post-section .creation-container form .sender-info .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}
.post-section .creation-container form input[type=submit] {
    background: #ababab;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
}

.post-section .creation-container .card-container {
    width: 50%;
    height: 100%;
    padding: 30px;
}


.edit-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-bottom: 1px solid #ccc;
}
.edit-section h3 {
    margin-bottom: 50px;
}
.edit-section .edition-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #eee;
    border-radius: 5px;
}
.edit-section .edition-container form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.edit-section .edition-container form .sender-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-section .edition-container form .sender-info .inputGroup {
    margin: 1em 0 1em 0;
    max-width: 100%;
    position: relative;
}
.edit-section .edition-container form .sender-info .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
}  
.edit-section .edition-container form .sender-info .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}  
.edit-section .edition-container form .sender-info .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #eee;
}  
.edit-section .edition-container form .sender-info .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}
.edit-section .edition-container form input[type=submit] {
    background: #ababab;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
}

.edit-section .edition-container .card-container {
    width: 50%;
    height: 100%;
    padding: 30px;
}


.table-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    overflow-x: auto;
}
.table-section h3 {
    margin-bottom: 50px;
}
.table-section table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    padding: 10px;
    height: 500px;
}
.table-section table thead {
    background: #ccc;
}
.table-section table thead th {
    padding: 10px;
    border: 1px solid #ababab;
}
.table-section table tbody {
    background: #eee;
}
.table-section table tbody td {
    padding: 10px;
    border: 1px solid #ccc;
}